<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Decrypt me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <center>
        <div id="game_title">
                <h1>Trouvez le code secret!</h1>
        </div>
        <div id="password_guess_box">
            <h2>Tentez de deviner le code secret :</h2><br>
            <h3>5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8</h3><br>
        </div>
        <div id="password_input_box">
            <form method="post">
                <p>Code secret :
                <input type="text" name="passwd_input"> <br>
                </p>
                <p>Sélectionne le type d'encryption :
                <select name="hash_input">
                    <option value="MD5">MD5</option>
                    <option value="SHA1">SHA1</option>
                    <option value="SHA224">SHA224</option>
                    <option value="SHA256">SHA256</option>
                    <option value="SHA384">SHA384</option>
                    <option value="SHA512">SHA512</option>
                </select> <br>
                </p>
                <input type="submit" value="Submit">
            </form>
        </div>
        <img id="question_img" src="{{url_for('static', filename='img/question.jpg')}}"/>
    </center>
</body>
</html>